@import url('../utility/commonStyles.css');

.fbu3l7kPiBeb3EKCjIb8n {
    background: rgb(var(--dark-30));
    border-radius: 6px;
    border: .5px solid rgb(var(--dark-3a), 0.81);
}

.fbu3l7kPiBeb3EKCjIb8n .Focusable button {
    background: transparent;
}

.fi6UDkxJq66MLo2z9wabQ ._2uM3ouyTdzAtXR3ffa7oRg ._2LJMRr1_5XUK4wlt7YMyPi .mh8m9p4PBg_Qrev1bfTzc,
._3OzkVrQFFPv0aV41N4MrHV .fbu3l7kPiBeb3EKCjIb8n ._3ZLaTxSHxeGcoKlIy_-Z0L {
    border-radius: var(--border-4px);
}

._3OzkVrQFFPv0aV41N4MrHV .fbu3l7kPiBeb3EKCjIb8n ._3ZLaTxSHxeGcoKlIy_-Z0L {
    background: transparent;
    margin-left: 2px !important;
    margin-right: 2px !important;
}

._3OzkVrQFFPv0aV41N4MrHV .fbu3l7kPiBeb3EKCjIb8n ._3ZLaTxSHxeGcoKlIy_-Z0L:hover,
.fi6UDkxJq66MLo2z9wabQ ._2uM3ouyTdzAtXR3ffa7oRg ._2LJMRr1_5XUK4wlt7YMyPi .mh8m9p4PBg_Qrev1bfTzc:hover {
    background-color: var(--SystemAccentColorDark1) !important;
}

.fi6UDkxJq66MLo2z9wabQ .BoygotvcKo4DC4dSix8G3,
.fi6UDkxJq66MLo2z9wabQ ._2uM3ouyTdzAtXR3ffa7oRg ._2LJMRr1_5XUK4wlt7YMyPi .mh8m9p4PBg_Qrev1bfTzc {
    background-color: rgb(var(--dark-30)) !important;
}

._3OzkVrQFFPv0aV41N4MrHV .fbu3l7kPiBeb3EKCjIb8n ._3ZLaTxSHxeGcoKlIy_-Z0L._1BXjK5v8XI_SEhGola5ftn {
    background-color: var(--SystemAccentColorDark2) !important
}