/* Dev note: Transparent type shii -claw*/

@import url(./profileAvatar.css);

.profile_header_bg_texture {
    background: rgba(0, 0, 0, 0) !important;
    backdrop-filter: blur(20px) !important;
    position: relative;
    z-index: 1;
}

.profile_header_bg {
}

.profile_content.has_profile_background {
}

.profile_content {
    background: rgba(0, 0, 0, 0) !important;
}

.profile_customization {
}

.friendBlock {
}

.btn_profile_action.btn_medium {
}

.btn_profile_action.btn_medium:hover {
}