._2wgFGloLUdbOVEeIYkuqTp ._1LJqx_qFOC8199RBQO5kU8 {
	right: unset !important;
}

._2wgFGloLUdbOVEeIYkuqTp ._1LJqx_qFOC8199RBQO5kU8 svg {
	left: -28px !important;
}

._1pwP4eeP1zQD7PEgmsep0W {
  	display: flex;
    justify-content: center;
}