._3OzkVrQFFPv0aV41N4MrHV._1kICdMcVupzY5a9PzI2JIU {
    bottom: initial !important;
    padding-left: 20px;
}

._3OzkVrQFFPv0aV41N4MrHV .fbu3l7kPiBeb3EKCjIb8n {
    height: fit-content !important;
    flex-direction: column !important;
    transform: translateY(-20px) !important;
    padding: 2px 0 !important;
}

._3OzkVrQFFPv0aV41N4MrHV {
    justify-content: flex-start !important;
}

._3OzkVrQFFPv0aV41N4MrHV .fbu3l7kPiBeb3EKCjIb8n ._3ZLaTxSHxeGcoKlIy_-Z0L {
    height: 40px !important;
    width: 40px !important;
}

.ZTbww2QfIllvCwVHmpixE {
    position: relative !important;
    left: 72px !important;
    bottom: 38px !important;
}

._3vg1vYU7iTWqONciv9cuJN._1Ye_0niF2UqB8uQTbm8B6B {
    left: 0 !important;
}

.fbu3l7kPiBeb3EKCjIb8n button:hover {
    
}